@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #005CE6;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #005CE6;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #005CE6;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: #005CE6;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #005CE6;
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(100% 0 0);
  --color-primary: #005CE6;
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: #1F5EBB;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #005CE6;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #005CE6;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #005CE6;
  --color-info-content: oklch(100% 0 0);
  --color-success: #2D7932;
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(100% 0 0);
  --color-error: #970000;
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
